<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.ac.shenkar.superShoppinglist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="13" />

    <application
        android:icon="@drawable/super_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ShoppingListMainActivity"
            android:label="@string/title_activity_main"
			android:windowSoftInputMode="adjustPan"
           android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name="il.ac.shenkar.superShoppinglist.activities.DoShoppingActivity"
            android:label="@string/title_activity_do_shopping" 
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <receiver android:name="il.ac.shenkar.superShoppinglist.utils.ReminderBroadCastReceiver">	
			<intent-filter>	
				<action android:name="il.ac.shenkar.superShoppinglist.utils.reminder_broadcast"/>	
			</intent-filter>	
		</receiver>
		        <receiver android:name="il.ac.shenkar.superShoppinglist.utils.ShoppingListWidgetProvider" >
            <intent-filter >
                <action 
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
</manifest>